* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linen;
}

.card {
  width: 90%;
  max-width: 470%;
  background: linear-gradient(165deg, #dfba57, #3d424a);
  color: linen;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: linen;
  color: #555;
  padding: 10px 25px;
  height: 60;
  border-radius: 10px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: linen;
  color: lightslategray;
  border-radius: 20%;
  width: 70px;
  height: 40px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 15px;
  padding: 2px;
}
.temp {
  margin-top: 35px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.description {
  font-size: 25px;
  margin-top: 30px;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -5px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 40px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.humidity,
.wind {
  font-size: 16px;
}
.link {
  padding-left: 47px;
}
